{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">{{main_news.header}}</h1>
            <p class="lead my-3">{{main_news.preview}}</p>
            <p class="lead mb-0"><a href="/news/{{main_news.id}}" class="text-white font-weight-bold">Читать
                полностью...</a></p>
        </div>
    </div>
    {% if news2.z %}
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    {% if not by_category %}
                    {% if news2.main_category == "health" %}
                    <a href="/news/category/health/0"><strong
                            class="d-inline-block mb-2 text-success">Здоровье</strong></a>
                    {% elif news2.main_category == "technology" %}
                    <a href="/news/category/technology/0"><strong
                            class="d-inline-block mb-2 text-info">Технологии</strong></a>
                    {% elif news2.main_category == "politic" %}
                    <a href="/news/category/politic/0"><strong
                            class="d-inline-block mb-2 text-warning">Политика</strong></a>
                    {% endif %}{% endif %}
                    <h3 class="mb-0">{{news2.header}}</h3>
                    <div class="mb-1 text-muted">{{news2.date}}</div>
                    <p class="card-text mb-auto">{{news2.preview}}</p>
                    <a href="/news/{{news2.id}}" class="stretched-link">Читать полностью...</a>
                </div>
            </div>
        </div>
        {% if news3.z %}
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    {% if not by_category %}
                    {% if news3.main_category == "health" %}
                    <a href="/news/category/health/0"><strong
                            class="d-inline-block mb-2 text-success">Здоровье</strong></a>
                    {% elif news3.main_category == "technology" %}
                    <a href="/news/category/technology/0"><strong
                            class="d-inline-block mb-2 text-primary">Технологии</strong></a>
                    {% elif news3.main_category == "politic" %}
                    <a href="/news/category/politic/0"><strong
                            class="d-inline-block mb-2 text-warning">Политика</strong></a>
                    {% endif %}{% endif %}
                    <h3 class="mb-0">{{news3.header}}</h3>
                    <div class="mb-1 text-muted">{{news3.date}}</div>
                    <p class="mb-auto">{{news3.preview}}</p>
                    <a href="/news/{{news3.id}}" class="stretched-link">Читать полностью...</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
<main role="main" class="container">
    <div class="row">
        <div class="col blog-main">
            {% if news4.z %}
            <h3 class="pb-4 mb-4 font-italic border-bottom" align="center">
                Основные статьи
            </h3>
            <div class="blog-post">
                <h2 class="blog-post-title" align="center">{{news4.header}}</h2>
                <p class="blog-post-meta">{{news4.date}} by <a href="/users/{{news4.author}}">{{news4.author_surname
                    + ' ' +
                    news4.author_name}}</a></p>
                <p>{{news4.content}}</p>
            </div><!-- /.blog-post -->
            {% if news5.z %}
            <div class="blog-post">
                <h2 class="blog-post-title" align="center">{{news5.header}}</h2>
                <p class="blog-post-meta">{{news5.date}} by <a href="/users/{{news5.author}}">{{news5.author_surname
                    + ' ' +
                    news5.author_name}}</a></p>
                <p>{{news5.content}}</p>
            </div><!-- /.blog-post -->
            {% endif %}
            {% if news6.z %}
            <div class="blog-post">
                <h2 class="blog-post-title" align="center">{{news6.header}}</h2>
                <p class="blog-post-meta">{{news6.date}} by <a href="/users/{{news6.author}}">{{news6.author_surname
                    + ' ' +
                    news6.author_name}}</a></p>
                <p>{{news6.content}}</p>
            </div><!-- /.blog-post -->
            {% endif %}
            {% endif %}
            <nav class="blog-pagination">
                {% if page.id >= 1 %}
                {% if not by_author %}
                <a class="btn btn-outline-primary" href="/news/page/{{page.id - 1}}">{{page.id}}</a>
                {% else %}
                <a class="btn btn-outline-primary"
                   href="/news/news_by_author/{{main_news.author}}/page/{{page.id - 1}}">{{page.id}}</a>
                {% endif %}
                {% endif %}
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-2"
                   aria-disabled="true">{{page.id + 1}}</a>
                {% if page.id < max_page_id %}
                {% if not by_author %}
                <a class="btn btn-outline-primary" href="/news/page/{{page.id + 1}}" tabindex="-1">{{page.id + 2}}</a>
                {% else %}
                <a class="btn btn-outline-primary"
                   href="/news/news_by_author/{{main_news.author}}/page/{{page.id + 1}}">{{page.id + 2}}</a>
                {% endif %}
                {% endif %}
            </nav>
        </div><!-- /.blog-main -->
    </div><!-- /.row -->
</main>
{% endblock %}