{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
    <br>
    <div class="blog-post jumbotron">
        <h2 class="blog-post-title" align="center">{{news.header}}</h2>
        <p class="blog-post-meta">{{news.date}} by <a href="//users/{{news.author}}">{{news.author_surname +
            ' ' +
            news.author_name}}</a></p>
        <h5 align="center">{{news.theme}}</h5>
        <p>{{news.content}}</p>
    </div>
    <a class="btn btn-info my-2 my-sm-0" href="edit_news/{{news.id}}">Редактировать новость</a>
</main>
{% endblock %}